<div class="container" style="margin-top: 80px">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMsg">
        {{successMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="successMsg=''">
                <span aria-hidden="true">×</span>
            </button>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <br>
            <h4 *ngIf="qty_Total>0">{{ CartData.length }} Product(s) In Your Cart</h4><br>
            <span *ngIf="qty_Total==0">
                <h4>No Product(s) In Your Cart</h4><br>
                <a [routerLink]="'/products'" class="btn btn-dark">Continue Shopping</a>
           </span>

            <div class="row" *ngFor="let item of CartData">
                <div class="col-lg-3">
                    <img src="{{ item.img_url }}" class="img-thumbnail" width="200" height="200">
                </div>
                <div class="col-lg-5">
                    <p>
                        <b><a href="#">{{ item.name }}</a></b><br>
                        <b>Price: </b>${{ (item.price * item.quantity).toFixed(2) }}<br>
                        <!-- <b>Sub Total: </b>${{ \Cart::get($item->id)->getPriceSum() }}<br> {{-- <b>With Discount: </b>${{ \Cart::get($item->id)->getPriceSumWithConditions() }}--}} -->
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="form-group row">
                            <input type="number" min="1" class="form-control form-control-sm" [value]="item.quantity" [(ngModel)]="item.quantity" id="quantity" name="quantity" style="width: 70px; margin-right: 10px;">
                            <button class="btn btn-secondary btn-sm" style="margin-right: 25px;height: 31px;width: 32px;" (click)="updateQty(item,item.id)"><i class="fa fa-edit"></i></button>
                        </div>
                        <button class="btn btn-dark btn-sm " style="margin-right: 10px;height: 31px;width: 32px; " (click)="removeOne(item.id) "><i class="fa fa-trash "></i></button>
                    </div>
                </div>
            </div>
            <hr>
            <button *ngIf="CartData.length>0" class="btn btn-secondary btn-md" (click)="removeAll()">Clear Cart</button>
        </div>

        <div class="col-lg-5" *ngIf="CartData.length>0">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Total: </b>${{(item_Total).toFixed(2)}}</li>
                </ul>
            </div>
            <br>
            <a [routerLink]="'/products'" class="btn btn-dark">Continue Shopping</a>
            <a href="#" class="btn btn-success">Proceed To Checkout</a>
        </div>

    </div>
    <br><br>
</div>