<li class="list-group-item">
    <div class="row">
        <div class="col-lg-3">
            <img src="/images/" style="width: 50px; height: 50px;">
        </div>
        <div class="col-lg-6">
            <b>50</b>
            <br><small>Qty: 2</small>
        </div>
        <div class="col-lg-3">
            <p>$5400</p>
        </div>
        <hr>
    </div>
</li>
<br>
<li class="list-group-item">
    <div class="row">
        <div class="col-lg-10">
            <b>Total: </b>$500
        </div>
        <div class="col-lg-2">
            <form action="" method="POST">
                <button class="btn btn-secondary btn-sm"><i class="fa fa-trash"></i></button>
            </form>
        </div>
    </div>
</li>
<br>
<div class="row" style="margin: 0px;">
    <a class="btn btn-dark btn-sm btn-block" href="">
        CART <i class="fa fa-arrow-right"></i>
    </a>
    <a class="btn btn-dark btn-sm btn-block" href="">
        CHECKOUT <i class="fa fa-arrow-right"></i>
    </a>
</div>

<li class="list-group-item">Your Cart is Empty</li>